.warning-icon {
    font-size: 160px;
}

.header-404 {
    font-size: 60px;
}

.section-404{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-width: inherit;
    min-height: 74.1vh;
}

@media screen and (max-width: 1500px) {
    .section-404 {
        width: fit-content;
        height: max-content;
    }
}