.profile-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    min-height: 73.8vh;
}

@media screen and (max-width: 800px) {
    .profile-section {
        flex-direction: column;
    }
}