.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.td {
    border: 1px solid #E8F4FD;
    text-align: left;
    padding: 8px;
}

.tr:nth-child(even) {
    background-color: #E8F4FD;
}