.order-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    min-height: 73vh;
}

@media screen and (max-width:1060px) {
    .order-section {
        flex-direction: column;
        align-items: center;
    }
}