.flex-container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.flex-container aside {
    flex: 0 0 30%;
    border: 1px solid #afdbff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.flex-container article {
    flex-grow: 1;
    border: 1px solid #afdbff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.product-price {
    background-color: #71bfff;
    padding: 8px 14px;
    border-radius: 20px;
}

.items-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #afdbff;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 20px;
    align-items: flex-start;
    flex-grow: 1;
}

.price-item {
    display: flex;
    justify-content: space-between;
    border: 1px solid #afdbff;
    width: 100%;
}

.price-item-key {
    background-color: #E8F4FD;
    padding: 10px 0 10px 20px;
    flex: 0 0 50%;
}

.price-item-value {
    padding: 10px;
    flex: 0 0 50%;
}

@layer picture-border {
    picture {
        display: grid;
        width: 400px;
        aspect-ratio: 4/3;
        --bc: #afdbff;
        /*border-color*/
        --bs: 10px;
        /*border-size*/
        --cs: 20px;
        /*cut-size*/
        grid-template-rows: var(--cs) auto 1fr;
    }

    picture>figcaption {
        grid-area: 1/1/2/2;
        justify-self: end;
        min-width: 50%;
        min-height: calc(var(--cs) * 2 + var(--bs));

        display: grid;
        place-items: center;
        text-align: center;
        background-color: var(--bc);

        clip-path: polygon(var(--cs) 0,
                100% 0,
                100% 100%,
                0 100%,
                0 var(--cs));
    }

    picture>img {
        grid-area: 2/1/4/2;
        width: 100%;
        height: 100%;
        object-fit: cover;
        --em: .5;
        clip-path: polygon(calc(var(--cs) + var(--bs) * var(--em)) var(--bs),
                calc(100% - var(--bs)) var(--bs),
                calc(100% - var(--bs)) calc(100% - var(--cs) - var(--bs)),
                calc(50% + var(--cs) - var(--bs) * var(--em)) calc(100% - var(--cs) - var(--bs)),
                calc(50% - var(--bs) * var(--em)) calc(100% - var(--bs)),
                var(--bs) calc(100% - var(--bs)),
                var(--bs) calc(var(--cs) + var(--bs) * var(--em)));
    }

    picture::before {
        /*border*/
        content: "";
        grid-area: 2/1/4/2;
        background-color: var(--bc);
        clip-path: polygon(var(--cs) 0,
                100% 0,
                100% calc(100% - var(--cs)),
                calc(50% + var(--cs)) calc(100% - var(--cs)),
                50% 100%,
                0% 100%,
                0 var(--cs));
    }
}