.order-overview {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #afdbff;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 30px;
    align-items: center;
    min-height: 405px;
}