.flex-container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.qty-warning{
    color: #e42600;
}

.qty{
    text-decoration: underline;
    font-size: larger;
}

@media screen and (max-width: 780px) {
    .flex-container {
        flex-direction: column;
        padding: 10px;
    }
}