.light-gray-bg {
    background-color: #e7e7e7;
}

.light-gray-c {
    color: #e7e7e7;
}

.dark-gray-bg {
    background-color: #a3a3a3;
}

.dark-gray-c {
    color: #a3a3a3;
}

.coal-bg {
    background-color: #151313;
}

.coal-c {
    color: #151313;
}

.pale-blue-bg {
    background-color: #E8F4FD;
}

.pale-blue-c {
    color: #E8F4FD;
}