.slides {
    position: relative;
}

.slides-img {
    width: 100%;
    max-width: 1447px;
    height: 820px;
    object-fit: cover;
    object-position: center;
}

.slides-dots-container {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slides-dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    opacity: 0.5;
    background-color: #646464;
    cursor: pointer;
    position: relative;
}

.selected::after {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
    bottom: 5px;
    left: 5px;
    position: absolute;
    content: '';
}

.slides-text {
    position: absolute;
    width: 100%;
    top: 0;
    background-color: #15131378;
    font-size: 50px;
    padding: 20px;
    text-align: center;
    color: #ffffff9d;
}